body {
    font-family : "Times New Roman", sans-serif;
    border      : solid 2px blue;
    }

#border, #liste {
    width : max-content;
    }

h1, label, select, #slettalt, #kjopBillett {
    margin-right : 5px;
    margin-left  : 5px;
    }

.feilmelding {
    color       : red;
    font-weight : bold;
    }
#allebilletter{
    margin-right : 5px;
    margin-left  : 5px;
    text-decoration: underline;
    }
#antall {
    width : 40px;
    }

#autofyll {
    width            : 30px;
    background-color : black;
    color            : white;
    border-radius    : 50%;
    }